// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.top-links {
  padding-top: 0;
  background-color: #E92D0F;
  padding: 8px;
  color: white;
  font-weight: bold;
  text-align: right;
}

.top-links a {
  color: white;
  text-decoration: none;
}

html, body, h1, h2 {
  font-family: 'Droid Sans', 'Helvetica', 'Arial'
}

body header h1 {
  font-family: 'Droid Sans', 'Helvetica', 'Arial'
}

h1, h1 a {
  font-weight: bold;
}

nav {
  display: none;
}

.octopress-authorbox {
	border-top: 4px solid #333;
	background-color: #eee;

	.author-pic {
		float: left;
		margin: 8px;
	}

	.author-about {
		float: left;
		margin: 5px;
		padding: 5px;
		ul {
			list-style: none;

			li {
				display: inline;
				margin-left: 5px;
			}
		}

	}
}

.octopress-authorbox:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}