// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.top-links {
  padding-top: 0;
  background-color: #E92D0F;
  padding: 8px;
  color: white;
  font-weight: bold;
  text-align: right;
}

.top-links a {
  color: white;
  text-decoration: none;
}

html, body, h1, h2 {
  font-family: 'Droid Sans', 'Helvetica', 'Arial'
}

body header h1 {
  font-family: 'Droid Sans', 'Helvetica', 'Arial'
}

h1, h1 a {
  font-weight: bold;
}

nav {
  display: none;
}

ul, ol {
    margin-left: 2em;
}
